# Introduction to Pandas (Wine Dataset)

In this notebook you will practice core **pandas** skills (loading data, inspecting, cleaning, transforming, grouping, merging, and summarizing) using the **Wine** dataset from `scikit-learn`.

> Dataset: chemical measurements of wines with a target class label (3 wine cultivars).

In [3]:
import numpy as np
import pandas as pd

# We'll use a built-in dataset so the notebook works offline.
from sklearn.datasets import load_wine
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 5)

In [4]:
wine = load_wine()

# Features (X) and target (y)
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df.head(10)

,alcohol,malic_acid,ash,...,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,...,1.04,3.92,1065.0
1,13.20,1.78,2.14,...,1.05,3.40,1050.0
...,...,...,...,...,...,...,...
8,14.83,1.64,2.17,...,1.08,2.85,1045.0
9,13.86,1.35,2.27,...,1.01,3.55,1045.0

In [5]:
df.describe()

,alcohol,malic_acid,ash,...,hue,od280/od315_of_diluted_wines,proline
count,178.000000,178.000000,178.000000,...,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,...,0.957449,2.611685,746.893258
...,...,...,...,...,...,...,...
75%,13.677500,3.082500,2.557500,...,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,...,1.710000,4.000000,1680.000000

##Create dataframe that containes both features and labels
This code loads the Wine dataset and converts the feature data into a Pandas DataFrame while storing the wine class labels as a separate Pandas Series. It then combines the features and labels into a single DataFrame so each wine sample includes both its chemical properties and category. Finally, it checks the dataset size and displays the first five rows to verify that the data was loaded and structured correctly.

In [6]:
wine = load_wine()

# Features (X) and target (y)
X = pd.DataFrame(wine.data, columns=wine.feature_names)
y = pd.Series(wine.target, name="class_id")

df = pd.concat([X, y], axis=1)

print(df.shape)
df.head(5)

(178, 14)

,alcohol,malic_acid,ash,...,od280/od315_of_diluted_wines,proline,class_id
0,14.23,1.71,2.43,...,3.92,1065.0,0
1,13.20,1.78,2.14,...,3.40,1050.0,0
2,13.16,2.36,2.67,...,3.17,1185.0,0
3,14.37,1.95,2.50,...,3.45,1480.0,0
4,13.24,2.59,2.87,...,2.93,735.0,0

In [7]:

y = pd.Series(wine.target, name="class_id")

# Add a human-readable label
class_name = pd.Series([wine.target_names[i] for i in wine.target], name="class_name")

df = pd.concat([df,class_name], axis=1)

df.head(10)

    alcohol  malic_acid   ash  ...  proline  class_id  class_name
0     14.23        1.71  2.43  ...   1065.0         0     class_0
1     13.20        1.78  2.14  ...   1050.0         0     class_0
..      ...         ...   ...  ...      ...       ...         ...
8     14.83        1.64  2.17  ...   1045.0         0     class_0
9     13.86        1.35  2.27  ...   1045.0         0     class_0

[10 rows x 15 columns]

In [ ]:
column = 'alcohol'

# Calculate mean and standard deviation
mean_val = df[column].mean()
std_val = df[column].std()
mean_val, std_val

(np.float64(13.00061797752809), 0.8118265380058577)

## How many samples beyond 1 standard deviation for certain column named 'alcohol'

In [ ]:
beyond_1_std = df[(df[column] > mean_val + std_val) |
                  (df[column] < mean_val - std_val)]

print("Rows beyond 1 standard deviation:", beyond_1_std.shape[0])

Rows beyond 1 standard deviation: 64

### Practice
Write a method that returns number of samples beyond 1 standard deviation for a column. The method should have two parameters; dataframe and column name.
Hints: def count_beyond_std(df,column)

In [1]:
#Your code here

### Show the number for each column

In [ ]:
results = {}

for col in wine.feature_names:
    results[col] = count_beyond_std(df, col)

results

{'alcohol': 64,
 'malic_acid': 50,
 'ash': 48,
 'alcalinity_of_ash': 54,
 'magnesium': 46,
 'total_phenols': 70,
 'flavanoids': 72,
 'nonflavanoid_phenols': 57,
 'proanthocyanins': 50,
 'color_intensity': 57,
 'hue': 64,
 'od280/od315_of_diluted_wines': 74,
 'proline': 59}

## Selecting columns and rows
Common patterns:
- Single column: `df['alcohol']`
- Multiple columns: `df[['alcohol','malic_acid']]`
- Row slices: `df.iloc[0:10]`
- Label-based selection: `df.loc[df['class_id']==0]`

### Example
Select the columns `alcohol`, `malic_acid`, and `ash`. Show the first 8 rows.

In [8]:
df[['alcohol','malic_acid','ash']].head(8)

    alcohol  malic_acid   ash
0     14.23        1.71  2.43
1     13.20        1.78  2.14
..      ...         ...   ...
6     14.39        1.87  2.45
7     14.06        2.15  2.61

[8 rows x 3 columns]

###Example
Get rows between index 10 and 20

In [ ]:
df.iloc[10:20]

    alcohol  malic_acid   ash  ...  proline  class_id  class_name
10    14.10        2.16  2.30  ...   1510.0         0     class_0
11    14.12        1.48  2.32  ...   1280.0         0     class_0
..      ...         ...   ...  ...      ...       ...         ...
18    14.19        1.59  2.48  ...   1680.0         0     class_0
19    13.64        3.10  2.56  ...    845.0         0     class_0

[10 rows x 15 columns]

### Practice
Using `.iloc`, show rows 10–19 (10 rows) and only the first 4 feature columns.

In [ ]:
#Write your code here. The output is given below

    alcohol  malic_acid   ash  alcalinity_of_ash
10    14.10        2.16  2.30               18.0
11    14.12        1.48  2.32               16.8
..      ...         ...   ...                ...
16    14.30        1.92  2.72               20.0
17    13.83        1.57  2.62               20.0

[8 rows x 4 columns]

## Filtering with conditions
You can filter rows using boolean masks, e.g.

```python
high_alcohol = df[df['alcohol'] > 13.5]
```

You can combine conditions with `&` (and) / `|` (or), and remember to wrap each condition in parentheses.

### Practice
Filter wines where `alcohol > 13.5` **and** `color_intensity > 5`. How many rows match?

In [ ]:
# Your code here, it should 42

42

### Practice
Create a filtered DataFrame for `class_id == 1` **or** `hue < 1.0`. Display its shape.

In [ ]:
# Your code here

## Sorting
Use `sort_values` to order rows by one or more columns.

### Example
Sort the DataFrame by `alcohol` descending and show the top 7 rows for `alcohol`, `class_id`, `class_name`.

In [ ]:
df.sort_values('alcohol', ascending=False)[['alcohol','class_id','class_name']].head(7)

     alcohol  class_id class_name
8      14.83         0    class_0
13     14.75         0    class_0
..       ...       ...        ...
3      14.37         0    class_0
158    14.34         2    class_2

[7 rows x 3 columns]

###Sort by multiple columns

In [ ]:
df.sort_values(by = ['alcohol','malic_acid'], ascending=False)[['alcohol','class_id','class_name']].head(7)

     alcohol  class_id class_name
8      14.83         0    class_0
13     14.75         0    class_0
..       ...       ...        ...
3      14.37         0    class_0
158    14.34         2    class_2

[7 rows x 3 columns]

### Practice
Sort by `class_id` ascending, then by `color_intensity` descending (two keys). Show the first 10 rows of those two columns.

In [ ]:
# Your code here, output given below

    class_id  color_intensity
49       0.0              8.9
18       0.0              8.7
..       ...              ...
31       0.0              6.9
58       0.0              6.8

[10 rows x 2 columns]

## Creating new columns
You can create new features from existing ones. Example:

```python
df['ratio'] = df['alcohol'] / df['malic_acid']
```

This is common in feature engineering.

### Practice
Create a new column `alcohol_malic_ratio = alcohol / malic_acid`. Show the first 5 rows of `alcohol`, `malic_acid`, and the new ratio.

In [ ]:
# Your code here, output given below

   alcohol  malic_acid  alcohol_malic_ratio
0    14.23        1.71             8.321637
1    13.20        1.78             7.415730
2    13.16        2.36             5.576271
3    14.37        1.95             7.369231
4    13.24        2.59             5.111969

## Missing values
Real datasets often have missing entries.

- Detect: `df.isna().sum()`
- Drop rows/cols: `dropna()`
- Fill: `fillna(value)` (mean/median is common for numeric)

We will **inject** a few missing values to practice cleaning.

In [ ]:
df.isnull().sum()

alcohol       0
malic_acid    0
             ..
class_id      0
class_name    0
Length: 15, dtype: int64

### Randomly Insert 1% Missing Values
Since there is no missing values with wine dataset, we will randomly insert 1% missing values

In [9]:
# Load dataset
wine = load_wine()
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df['class_id'] = wine.target

# Set percentage of missing values
missing_percent = 0.01

# Total number of cells
total_cells = df.size

# Number of cells to make missing
num_missing = int(total_cells * missing_percent)

# Randomly choose cell locations
for _ in range(num_missing):
    row = np.random.randint(0, df.shape[0])
    col = np.random.randint(0, df.shape[1])
    df.iat[row, col] = np.nan

# Check missing values
print(df.isnull().sum())

alcohol       1
malic_acid    1
             ..
proline       4
class_id      1
Length: 14, dtype: int64

### Practice
How many missing values did we create in `magnesium` and in `color_intensity`? Verify with code.

In [ ]:
# Your code here, output should look like the output given below.

magnesium          2
color_intensity    1
dtype: int64

#Filling missing values

In [ ]:
# Option 1: drop rows with any missing values
dropped = df.dropna()

# Option 2: fill missing values with the column median
filled = df.copy()
filled['magnesium'] = filled['magnesium'].fillna(filled['magnesium'].median())
filled['color_intensity'] = filled['color_intensity'].fillna(filled['color_intensity'].median())

(dropped.shape, filled.shape,filled.isna().sum()[['magnesium','color_intensity']])

((154, 14),
 (178, 14),
 magnesium          0
 color_intensity    0
 dtype: int64)

In [ ]:
y = pd.Series(wine.target, name="class_id")

# Add a human-readable label
class_name = pd.Series([wine.target_names[i] for i in wine.target], name="class_name")

df = pd.concat([df,class_name], axis=1)

df.head(10)

    alcohol  malic_acid   ash  ...  proline  class_id  class_name
0     14.23        1.71  2.43  ...   1065.0       0.0     class_0
1     13.20        1.78  2.14  ...   1050.0       0.0     class_0
..      ...         ...   ...  ...      ...       ...         ...
8     14.83        1.64  2.17  ...   1045.0       0.0     class_0
9     13.86        1.35  2.27  ...   1045.0       0.0     class_0

[10 rows x 15 columns]

## GroupBy aggregations
`groupby` lets you compute summaries per group (here: per wine class).

### Example
Using `groupby`, compute the **mean alcohol** and **mean color_intensity** for each `class_name`.

In [ ]:
df.groupby('class_name')[['alcohol','color_intensity']].mean()

              alcohol  color_intensity
class_name
class_0     13.745000         5.528305
class_1     12.279565         3.088714
class_2     13.153750         7.396250

### Example
Compute the **count**, **mean**, and **std** of `proline` for each `class_id`.

In [ ]:
df.groupby('class_id')['proline'].agg(['count', 'mean', 'std'])

          count         mean         std
class_id
0.0          58  1120.637931  220.171600
1.0          67   519.522388  161.374715
2.0          48   629.895833  115.097043

## Saving to CSV
You can export results with `to_csv`. We'll write a small sample to a CSV file in the current environment.

### Example
Save a CSV containing only `alcohol`, `color_intensity`, and `class_name` for the first 20 rows. Name it `wine_sample.csv`.

In [ ]:
out_path = 'wine_sample.csv'
df[['alcohol','color_intensity','class_name']].head(20).to_csv(out_path, index=False)
out_path

'wine_sample.csv'

## Wrap-up
You practiced:
- Loading a dataset into a DataFrame
- Inspecting structure and summary stats
- Selecting/filtering/sorting
- Feature engineering
- Handling missing values
- GroupBy
- Saving and re-loading data

Use the practice prompts to reinforce each concept.

#After completing the practice question, upload the notebook file in the moodle.In the assignment section of 360, upload the file into Class-exercise_2